@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
   background-color: yellowgreen;
   color: red;
   height: 75px;
}
.header-buttons{
  margin-left: 10px;
  display: flex;
  justify-content:center;
   align-items:center;
   gap: 50px;
   font-size:25px;
}
.Footer{
   background-color: rgb(227, 216, 231);
   color: rgb(19, 201, 122);
}
.Footer-buttons{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-left: 10px;
  gap: 60px;
  margin-top: 540px;
  outline:10px;
  outline-offset:-5px;
}
.container {
   width:100%;
   height:100vh;
   background-color:rgb(248, 255, 240);
   border:deeppink
}
.testingResponsive{
   width:500px;
   height:150vh;
   background-color:azure;
   border: radius 10px;
   margin: 20px;
}

/*@media only screen and (max-width:600px){*/
/* @media only and screen and (max-width:300px){
   .testingResponsive{
      background-color:white;  
      width:200px;
      height:200px;
   }
} */